$bg_background: #F8F8F8;
$greyOnWhite: #494848;
$journal-color: #20C0FA;

body {
  background-color: $bg_background;
}

.top-bar-bg {
  background-color: #FFFF;
}

.stash-tile {
  display: inline-block;
  width: 20rem;
  height: 100vh;
}

.stash-tile-header {
  width: fit-content;
  margin: 0 auto;
  font-size: 2rem;
  color: white;
}

.journals-stash {
  $background-color: $journal-color;
  background-color: $background-color;
  span {
    font-size: 2rem;
    color: $background-color;
  }
  a {
    text-decoration: none;
  }
}

.content-tile {
  list-style: none;
  color: $greyOnWhite;
  font-size: 1.5rem;
  background-color: white;
  width: 90%;
  padding: 0.2rem;
  margin: 0.5rem 0 0.5rem 2%;
  border-radius: 5px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.content-tile:hover {
  margin: 0.5rem 0 0.5rem 7%;
}

.navbar {
  min-height: 6rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.top-bar-profile-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 3rem;
}

.display-area {
  display: flex;
  width: 100%;
  align-content: stretch;
}

.dashboard-container {
  width: -webkit-fill-available;
}

#side-bar {
  background-color: #FFFF;

  width: 3rem;
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(107,107,107,0.48);
  -moz-box-shadow: 4px 0px 5px 0px rgba(107,107,107,0.48);
  box-shadow: 4px 0px 5px 0px rgba(107,107,107,0.48);
}

.navbar-sidebar {
  display: none;
}

.side-bar-icon {
  font-size: 2rem;
  list-style: none;
  text-align: center;
  .iconTextHover {
    opacity: 0;
    background-color: #FFFF;
    position:absolute;
    margin: -2.7rem 0 0 3.1rem;
    border-radius: 1rem;
    color: $greyOnWhite;
    font-size: 1.3rem;
    padding: 0.2rem 1rem 0.2rem;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}

.side-bar-icon:hover {
  .iconTextHover {
    opacity: 1;
    margin: -2.7rem 0 0 3.1rem;
    tran:.2s linear;
  }
}

.active-icon {
  background-color: cadetblue;
  color: white;
}

.navbar-brand {
  font-size: 2.95rem;
}

.widget-tile {
  display: inline-flex;
  width: 20rem;
  height: 20rem;
}

.journal-widget {
  width: 90%;
  height: 90%;
  border-radius: 3%;
  margin: auto;
  background-color: white;
  h4 {
    overflow: hidden;
    margin:0;
    height: 15%;
    padding: 0.5rem;
    color: white;
    background-color: $journal-color;
    i {
      float: right;
    }
  }
  div {
    padding: 0.5rem;
    font-size: 1rem;
    height: 85%;
    overflow: scroll;
    p {
    }
  }
}

// tablets
@media only screen and (max-width: 768px) {

}

// mobiile L
@media only screen and (max-width: 425px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// mobile m
@media only screen and (max-width: 375px) {
  #side-bar {
    display: none;
  }
  .navbar-sidebar {
    display: initial;
    a {
      display: inline-block;
    }
    i {
      width: 20px;
      margin-right: 4px;
      text-align: center;
    }
  }
}
