$vhMinusNavbar: calc(100vh - 96px);
$journalsSidebarWidth: 200px;
$entriesSidebarWidth: 270px;

.journals-index-container {
  width: 100%;
  height: $vhMinusNavbar;
  display: flex;
  align-content: stretch;

  .entry-area {
    flex-grow: 1;
    background-color: white;
    width: 50px;
    height: 100%;
  }

  .entry-page {
    height: 100%;
    padding: 1.5rem 1.5rem 0;
    overflow: hidden;
    position: relative;
    .entry-topbar {
      display: flex;
      justify-content: space-between;
      .left {
        .entry-journal {
          font-size: 0.8rem;
          color: #888b8e;
        }
      }
      .right {
        .fas {
          padding: 0.3rem;
        }
        .fa-save {
          cursor: pointer;
          color: #20C0FA;
        }
        .fa-trash {
          cursor: pointer;
          color: #ec4040;
        }
        .red {
          color: red;
          font-size: 0.8rem;
        }
      }
    }
    .entry-hdr {
      border-bottom: thin solid #ccc;
      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .content-area {
      max-height: 73vh;
      min-height: 73vh;
      textarea {
        outline: none;
        resize: none;
        border: none;
        width: 100%;
        height: -webkit-fill-available;
        padding: 0.2rem 1.2rem;
        overflow: unset;
      }
    }
  }

  #journals-sidebar {
    // z-index: 20;
    background: #151718;
    display: flex;
    flex-direction: column;
    left:0;
    width: $journalsSidebarWidth;
    height: $vhMinusNavbar;
    position: absolute;
    top: 720;
    transition: left 0.3s linear;
    font-family: "Helvetica Neue", Helvetica, Arial;
    .items-container {
      max-height: inherit;
      overflow-y: auto;
    }
    .create-journal {
      margin: 0.3rem auto;
      display: block;
      border-style: none;
      color: white;
      background-color: #6bd86b;
      border-radius: 0.8rem;
    }

    form {
      text-align: center;
      background-color: #444;
      padding: 0.5rem;
      border-radius: 0.1rem;
      margin-bottom: 0.3rem;
      input {
        margin-bottom: 0.2rem;
        border-style: none;
        background-color: #1C1E1F;
        border-radius: 0.2rem;
        color: #ccc;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
      .create {
        color: #FFFF;
        background-color: #6bd86b;
      }
      .error-list {
        background: white;
        color: #ec4040;
      }
    }
  }

  #journals-sidebar.hide {
    left: -$journalsSidebarWidth;
    transition: left 0.3s linear;
  }

  #entries-sidebar {
    display: flex;
    flex-direction: column;
    background: #edf1f5;
    border-right: thin solid #ccc;
    border-width: thin;
    width: $entriesSidebarWidth;
    height: $vhMinusNavbar;
    position: absolute;
    left:$journalsSidebarWidth;
    transition: left 0.5s linear;
    top: 720;
    font-family: "Helvetica Neue", Helvetica, Arial;
    .items-container {
      max-height: inherit;
      overflow-y: auto;
    }
    .item {
      background: inherit;
      color: #1C1E1F;
      border-bottom: thin solid #ccc;
      display: block;
      width: 270px;
      height: 100px;
      padding: 2px 10px 2px;
      text-decoration: none;
      margin: 0;
      h6 {
        display: block;
        margin: 0;
        height: 20px;
        font-size: 0.9rem;
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        display: block;
        height: 60px;
        font-size: 0.8rem;
        margin: 0;
        overflow: hidden;
      }
      span {
        display: block;
        height: 10px;
        margin-bottom: 5px;
        font-size: 0.5rem;
      }
      ul {
        overflow-y: auto;
      }
    }
    .item.selected {
      background-color: #ffffff;
    }

    .sidebar-hdr {
      background: #fdfeff;
      margin: 0;
      color: #1C1E1F;
      border-right: thin solid #ccc;
      border-bottom: 1px solid #ccc;
      display: block;
      height: 60px;
      width: 270px;
      padding: 10px;
      text-decoration: none;
      p {
        margin: 0;
      }
      h5 {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .fa-plus-circle {
        float: right;
        cursor: pointer;
        color: #6bd86b;
      }
    }
  }

  #entries-sidebar.hide {
    left: $journalsSidebarWidth - $entriesSidebarWidth;
    transition: left 0.3s linear;
  }

  #entries-sidebar.hide-two {
    left: -$entriesSidebarWidth;
    transition: left 0.1s linear;
  }

  ul {
    margin:0px;
    padding:0px;
    li {
      list-style: none;
    }
  }

  .sidebar-hdr {
    margin: 0;
    background: #1C1E1F;
    color: #ccc;
    border-bottom: 1px solid #111;
    display: block;
    width: 200px;
    padding: 10px;
    text-decoration: none;
  }
  .item {
    cursor: pointer;
    background: #1C1E1F;
    color: #ccc;
    border-bottom: 1px solid #111;
    display: block;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    .fa-trash {
      display: none;
      color: #ec4040;
      float: right;
    }
  }

  .item:hover {
    .fa-trash {
      display: block;
    }
  }

  .fa-trash:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .item.selected {
    background-color: #20C0FA;
    color: white;
  }

  .sidebar-area {
    background-color: #FFFF;
    height: 100%;
    width: $journalsSidebarWidth + $entriesSidebarWidth;
    transition: width 0.7s;
  }

  .sidebar-area.hide-one {
    transition: width 0.5s;
    width: $journalsSidebarWidth;
  }

  .sidebar-area.hide-two {
    transition: width 0.4s;
    width: 0;
  }

  .toggle-buttons {
    position: absolute;
    left: 5px;
    top: 0;
    div {
      margin: 0;
    }
    input {
      outline: none;
      margin: 0.1rem;
      background: #20C0FA;
      border: none;
      color: white;
      font-weight: 900;
      padding-right: 4px;
      padding-left: 4px;
      font-size: 0.5rem;
      border-radius: 0.3rem;
    }
  }
}
